.note-container {
    display: inline-block;
}

.note {
    width: 110px;
    z-index: 100;
    padding: 6px;
    display: block;
}

.note:hover {
    transform: scale(1.08);
    -webkit-transform:scale(1.08);
}
