.notes {
    z-index: 100;
    background-image: url('../assets/images/staff.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: max-content;
}

.score-container {
    width: 1224px;
    background-image: url('../assets/images/frogbg.png');
    height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacer {
    width: 100%;
    height: 88px;
    width: 100%;
    border: 1px solid red;
    overflow: hidden;
}